.nav-link, button {
  transition: all 0.3s ease-out;
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Arial";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: normal;
}

h1 {
  font-family: "Georgia";
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.192rem;
  margin: 30px 0 10px 0;
}

h2 {
  font-family: "Abril Fatface";
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: normal;
  color: #FFF;
}

h3 {
  font-family: "Georgia";
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #545454;
}

h4 {
  font-family: "Georgia";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.12rem;
  color: #545454;
}

.not-only__text {
  color: #CDCDCD;
}

p {
  font-family: "Arial";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: normal;
  color: #4C4C4C;
}

a {
  text-decoration: none;
}

button {
  padding: 15px 45px;
  font-family: "Georgia";
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.102rem;
  color: #292929;
  background-color: #F1CDB3;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
}
button:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  background: url(../../assets/img/background.jpg) no-repeat;
  background-size: 100% auto;
}

.fotter-contacts {
  display: flex;
  padding-top: 40px;
}

.contact__h3 {
  color: #FFF;
  margin: 16px 0 40px 0;
}

.categories-title {
  color: #F1CDB3;
}

.footer_flex {
  display: flex;
}

.categories-title {
  margin-left: 20px;
}

.contact__email {
  margin-bottom: 40px;
}

.contact__questions img {
  width: 40px;
  height: 32px;
}

.email {
  margin: 0px 39px 0 20px;
}

.phone {
  margin: 0px 39px 0 20px;
}

.contact__questions {
  margin: 16px 160px 60px 0;
}

.visit__h3 {
  color: #FFF;
}

.visit__location img {
  width: 22px;
  height: 32px;
}

.location {
  margin: 0 0 20px 20px;
}

.location2 {
  margin: 0 0 0 20px;
}

.visit {
  margin-right: 160px;
}

.ourpets {
  background-color: #F6F6F6;
  padding: 155px 0 100px;
}

.ourpets__title {
  text-align: center;
}

.header__logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header__logo-title {
  color: #545454;
  text-decoration: none;
}

.header__logo-subtitle {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.13rem;
  color: #292929;
  text-decoration: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
}

.nav-item {
  list-style: none;
}
.nav-item:last-child {
  padding-right: 0;
}

.nav-link {
  text-decoration: none;
  color: #545454;
  border-bottom: solid transparent;
}
.nav-link:hover {
  color: #292929;
  cursor: pointer;
  border-bottom: solid #F1CDB3;
}

.nav ul:nth-child(2) a {
  border-bottom: solid #F1CDB3;
  color: #292929;
  pointer-events: none;
}

.ourpets__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 60px;
}
.ourpets__cards .ourpets__card {
  margin: 15px 0 0 0;
  background-color: #FAFAFA;
  cursor: pointer;
}
.ourpets__cards .ourpets__card .button_border {
  background-color: #FAFAFA;
}
.ourpets__cards .ourpets__card:hover .button_border {
  background-color: #FDDCC4;
  cursor: pointer;
}
.ourpets__cards .ourpets__card .our-friends__img {
  border-radius: 9px 9px 0px 0px;
  margin-bottom: 30px;
}
.ourpets__cards .ourpets__card .our-friends__name {
  margin: 0 0 30px 0;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}
.ourpets__cards .ourpets__card .button_border {
  margin-left: 41.5px;
  margin-bottom: 30px;
}

.outpets__button {
  padding-left: 430px;
}

.ourpets__circle {
  margin-right: 15px;
  padding: 14px 12px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  background-color: #FAFAFA;
}

.circle2 {
  padding: 13px 20px;
}

.circle3 {
  padding: 13px 20px;
}

.circle-not {
  border: 2px solid #CDCDCD;
  color: #292929;
  pointer-events: none;
}

.footer {
  background: url(../../assets/img/background.jpg) no-repeat;
  background-size: 100% auto;
}

/*# sourceMappingURL=style-ourpets.css.map */
