html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
.wrapper{
    max-width: 1200px;/***********************PX************************************/
    margin: 0 auto;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
}

/*************HEADER********************/
/*************START********************/


.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header__wrapper{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    color: #CDCDCD;
}
.header__nav{
    margin-bottom: 10px;
}
.header__nav-list{
    display: flex;
    flex-wrap: wrap;
}
.header__nav-item{
    margin-right: 35px; /***********************PX************************************/

}
.header__nav-item:last-child{
    margin-right: 0px;
}
.header__nav-list{
    font-size: 15px;
    text-decoration: none;
    color: #CDCDCD;
    line-height: 160%;
    list-style-type:none;
    margin-bottom: 0;
}

.header__nav-item:hover, .header__nav-item:active, .header__nav-item:focus{
    border-bottom: solid #F1CDB3;
}

.header__logo-title{
    text-decoration: none;
    color: #F1CDB3;
    font-size: 32px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
}
.header__logo-subtitle{
    text-decoration: none;
    font-family: 'Arial';
    font-size: 13px;
    color: #FFFFFF;
}

.header__logo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/*************HEADER********************/
/*************END********************/


/*************INFO********************/
/*************START********************/

.info{
    padding-top: 60px;
    min-height: 100vh; /*height window*/
    background-image: url(./assets/png/start-screen-gradient-background.png);
    background-size: cover;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
}
.info-container{
    background-image: url(./assets/png/start-screen-puppy.png);
    background-repeat: no-repeat;
    background-position: right ;
    min-height: 100vh;
}
.info-information{
    padding-top: 163px;
    width: 460px;
    margin-bottom: 243px;
}
.info-title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
    margin-top: 0;
    width: 310px;
    margin-bottom: 42px;
}
.info-subtitle{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    margin-bottom: 42px;
}
.info-button{
    padding: 15px 45px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    color: #292929;
    background-color: #F1CDB3;
    border: #F1CDB3;
    border-radius: 100px;
}
/*************INFO********************/
/*************END********************/

/*************ABOUT********************/
/*************START********************/



/*************ABOUT********************/
/*************END********************/