.footer{
    background: linear-gradient(90deg, rgba(91,72,58,1) 1%, rgba(33,31,32,1) 100%, rgba(38,36,37,1) 100%);
    background-size: 100% auto;
}
.footer-puppy{
    @include media-laptop{
        margin-left: 202px;
    }
    @include media-mobil_big{
        margin-left: 0px;
    }
}