.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav{
    display: flex;
    @include media-laptop{
        margin-top: 25px;
    }
}
.nav-item{
    list-style: none;

    &:last-child{
        padding-right: 0;
    }
}
.nav-link{
    text-decoration: none;
    color: $coolor-title;
    @extend %transition;
    border-bottom: solid transparent;

    &:hover{
        color:$color-bottom-text;
        cursor: pointer;
        border-bottom: solid $color-bottom;
    }
}

.nav ul:nth-child(2){
   
    a{
        border-bottom: solid #F1CDB3;
        color: $color-bottom-text;
        pointer-events: none;
    }
}
.header__logo{
    @include media-mobil_small{
        margin-left: 30px;
    }
}