.in-addition{
    background-color: $background;
}
.in-addition__flex{
    display: flex;
    
    @include media-tablet{
        display: flex;
        flex-direction: column-reverse;
    }
}
.in-addition__img{
    margin:65px 30px 86px 143px;

    @include media-mobil_small{
        margin: 0px 0px 0px 0px;
    }
    @include media-mobil_small{
        margin: 12px 0px 37px 19px;
    }
}
.in-addition__title{
    margin: 53px 222px 20px 0px;

    @include media-mobil_small{
        margin: 0px 0px 0px 0px
    }
    @include media-mobil_small{
        margin: 42px 0px 23px 34px;
    }
}
.in_additional-form-info{
    @include font (1.5rem, 110%, 400, 0.09rem);
    font-family: Georgia;

}
.in-addition__text{
    font-family: "Abhaya Libre";
    @include font (1.2rem, 150%, 700);
    color: $text-donation;
}
.in_additional-form-wrapper{
    background-color: $color-bottom;
    width: 350px;
    height: 43px;
    border: 0cap;
    border-radius: 9px;

    @include media-mobil_small{
        margin-bottom: 12px;
    }
}
.in_additional-form-card-card{
    background-color: $color-bottom;
    @include font (2.0rem, 115%, 400, 0.12rem);
    font-family: Georgia;
    border: 0cap;
    width: 300px;
    height: 25px;

    @include media-mobil_small{
        @include font (1.5rem, 110%, 400, 0.09rem);
        width: 215px;
        height: 30px;
    }

}
.in_additional-form-wrapper{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    width: 281px;
    height: 43px;
}
.in-addition__info{
    
    @include media-tablet{
        margin: 3px 30px 10px 164px;
    }
    @include media-mobil_small{
        margin: 0px 8px 0px 13px;
    }
}
.donation-dog{
    @include media-mobil_small{
        width: 260px; 
    }
 
}