html{
    font-size: 10px;
}
body{
    font-family: 'Arial';
   @include font(1.5rem, 160%, 400);
   
   
}
h1{
    font-family: 'Georgia';
   
}
h2{
    font-family: 'Abril Fatface';
    
}
h3{
    font-family: 'Abril Fatface';
}