html{
    font-size: 10px;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Arial';
   @include font(1.5rem, 160%, 400);
}
h1{
    font-family: 'Georgia';
    @include font (3.2rem, 110%, 400, 0.192rem);
}
h2{
    font-family: 'Abril Fatface';
    @include font(4.4rem, 130%, 400, );
    color: $color-subtitle;
}
h3{
    font-family: 'Abril Fatface';
}
.not-only__text{
    color: $text-header;
}