/*button{
    padding: 5px 50px;
    font-family: 'Satisfy', cursive;
    @include font(2.1rem, 54px, 400);
    background-color: $color-buttons;
    @extend %transition;
    &:hover{
        background-color:$color-primary;
        cursor: pointer;
    }
}*/