.header__logo{
    @include flex();
    flex-direction: column;
}

.header__logo-title{
    font-family: 'Georgia';
    @include font (3.2rem, 110%, 400, 0.192rem);
    color: $color-bottom;
    text-decoration: none;
}

.header__logo-subtitle{
    @include font (1.3rem, normal, 400, 0.13rem);
    color: $color-subtitle;
    text-decoration: none;
}